//= includes/head.html
//= includes/header.html
<main id="main" role="main">
	<div class="title">The Kuril Islands or Kurile Islands in Russia's Sakhalin Oblast&nbsp;region, form a volcanic archipelago that stretches approximately 1,300 km (810 mi) northeast from Hokkaido, Japan, to Kamchatka, Russia, separating the Sea of Okhotsk from the North Pacific Ocean</div>
	<p>All the islands are currently under Russian jurisdiction. Japan claims the two southernmost large islands (Iturup and Kunashir) as part of its territory, as well as Shikotan and the Habomai islets, which has led to the ongoing Kuril Islands dispute. The disputed islands are known in Japan as the country's "Northern Territories"</p>
	<h2>Geography</h2>
	<p>The Kuril Islands form part of the ring of tectonic instability encircling the Pacific Ocean referred to as the Ring of Fire. The islands themselves are summits of stratovolcanoes that are a direct result of the subduction of the Pacific Plate under the Okhotsk Plate, which forms the Kuril Trench some 200 kilometres (120 mi) east of the islands. The chain has around 100 volcanoes, some 40 of which are active, and many hot springs and fumaroles.</p>
	<blockquote cite="http://example.com">
		<q>Those inhabitants however, though they’ve quite a bit to be disgruntled&nbsp;about, are exceptionally good-natured. Perhaps it comes from having to get along and help one another in this harsh environment.</q>
		<cite>Danila Antsiferov</cite>
	</blockquote>
	<h2>List of main islands</h2>
	<p>While in Russian sources the islands are mentioned for the first time in 1646, the earliest detailed information about them was provided by the explorer Vladimir Atlasov in 1697.</p>
	<div class="table">
		<table>
			<tr>
				<th>Island</th>
				<th>Landing point</th>
				<th>Other Cities</th>
				<th>Area (km2)</th>
				<th>Population</th>
			</tr>
			<tr>
				<td>Shumshu</td>
				<td>Baikovo</td>
				<td></td>
				<td>388.0</td>
				<td>20</td>
			</tr>
			<tr>
				<td>Makanrushi</td>
				<td>Zakat</td>
				<td></td>
				<td>50.0</td>
				<td>0</td>
			</tr>
			<tr>
				<td>Onekotan</td>
				<td>Mussel</td>
				<td>Kuroisi, Nemo</td>
				<td>425.0</td>
				<td>0</td>
			</tr>
			<tr>
				<td>Matua</td>
				<td>Sarychevo</td>
				<td></td>
				<td>52.0</td>
				<td>0</td>
			</tr>
			<tr>
				<td>Ushishir</td>
				<td>Kraternya</td>
				<td>Ryponkicha</td>
				<td>5.0</td>
				<td>0</td>
			</tr>
		</table>
	</div>
	<p>In the 18th and early 19th centuries, the Kuril Islands were explored by Danila Antsiferov, I. Kozyrevsky, Ivan Yevreinov, Fyodor Luzhin, Martin Shpanberg, Adam Johann von Krusenstern, Vasily Golovnin, and Henry James Snow.</p>
	<div class="popup-holder">
		<div id="popup" class="lightbox contact">
			<div class="contact_block">
				<img src="images/img-03.jpg" alt="">
				<div class="contact_info">
					<h2>Contact Us</h2>
					<input type="text" placeholder="NAME">
					<input type="text" placeholder="PHONE">
					<input type="email" placeholder="Email">
					<textarea placeholder="MESSAGE"></textarea>
					<button>SEND</button>
				</div>
			</div>
		</div>
		<div id="search" class="lightbox search_container">
			<div class="search_box">
				<input type="text" placeholder="Search">
			</div>
		</div>
	</div>
</main>
//= includes/footer.html