[type="checkbox"],
[type="radio"]{box-sizing:border-box;padding:0}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{height:auto}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}
[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
body{
	font:14px/18px $custom-font-WorkSans;
	color:$black;
}
#main{
	margin:0 auto;
	padding:30px 10px 43px;
	flex-grow:1;
	position:relative;
	z-index:1;
	max-width:630px;
	line-height:24px;
	@include media('>=desktop') {
		padding:55px 0 43px;
	}
}
#main p{
	margin:0 auto 28px;
	max-width:$mWidth;
}
.title{
	margin:0 auto 29px;
	color:$primary-color;
	font-size:16px;
	line-height:1.5;
	font-weight:normal;
	text-transform:uppercase;
	max-width:$mWidth;
}
#main h2{
	margin:0 auto 7px;
	color:$title-color;
	font-size:20px;
	line-height:1.8;
	font-weight:600;
	max-width:$mWidth;
}
#main blockquote{
	margin:44px auto 41px;
	padding:42px 0 36px 37px;
	border:solid #dddddd;
	border-width:1px 0;
	position:relative;
	font-size:16px;
	line-height:1.9;
	font-family:$custom-font-LibreBaskerville;
	font-style:italic;
	text-align:right;
	max-width:$mWidth;
	display:block;
	box-sizing:border-box;
	@include media('>=desktop') {
		padding:42px 0 36px 66px;
	}
	q{
		margin:0 0 9px;
		text-align:left;
		display:block;
	}
	&:before{
		content:'';
		position:absolute;
		top:45px;
		left:0;
		background:url('./images/ico-01.png') no-repeat;
		background-size:cover;
		width:27px;
		height:23px;
	}
	cite{
		padding:0;
		color:$color-blockquote;
		font-size:14px;
		font-family:$custom-font-WorkSans;
		font-style:normal;
		position:relative;
		&:before{
			content:'';
			position:absolute;
			top:8px;
			left:-61px;
			background:$color-blockquote;
			width:40px;
			height:1px;
		}
	}
}
.table{
	margin:35px 0 39px;
	overflow-x:scroll;
	@include media('>=desktop') {
		overflow-x:auto;
	}
	table{
		border:1px solid #f0f0f0;
		width:100%;
		color:$primary-color;
		tr{
			&:nth-child(odd){
				background:$list_bg_color;
			}
		}
		th{
			padding:10px;
			font-size:11px;
			line-height:1.4;
			color:$color-blockquote;
			text-align:left;
			font-weight:normal;
			border-bottom:1px solid #f0f0f0;
			background:$white;
			@include media('>=desktop') {
				padding:20px 10px 21px 27px;
				font-size:12px;
			}
		}
		td{
			padding:10px;
			@include media('>=desktop') {
				padding:9px 10px 13px 27px;
			}
		}
	}
}

.popup-holder {
	position:relative;
	overflow:hidden;
	height:0;
}
.contact_info{
	padding:35px 15px 20px;
	@include media('>=desktop') {
		padding:61px 71px 20px 70px;
	}
}
.contact_info h2{
	margin:0 0 20px;
	color:$title-color;
	font-size:24px;
	line-height:1.4;
	@include media('>=desktop') {
		margin:0 0 49px;
	}
}
.contact{box-shadow:0 0 8px 5px rgba(0,0,0,0.1);}
.contact_block{
	@include media('>=desktop') {
		width:770px;
		display:flex;
	}
	input[type="text"],
	input[type="email"]{
		background:none;
		width:100%;
		height:22px;
		border:none;
		border-bottom:1px solid #aeaeae;
		padding:0 0 3px;
		margin:0 0 29px;
		color:$form-color;
		font-size:12px;
		line-height:22px;
		font-family:$custom-font-WorkSans;
		box-sizing:border-box;
	}
	textarea{
		margin:0 0 36px;
		padding:0;
		width:100%;
		min-height:66px;
		height:66px;
		max-height:100px;
		color:$form-color;
		overflow:auto;
		border:none;
		background:none;
		font-size:12px;
		line-height:1.4;
		font-family:$custom-font-WorkSans;
		border-bottom:1px solid #aeaeae;
	}
	button{
		background:#ffd942;
		font-size:16px;
		line-height:1.2;
		font-family:$custom-font-WorkSans;
		color:$primary-color;
		border-radius:20px;
		box-sizing:border-box;
		width:141px;
		&:hover{
			opacity:0.8;
		};
	}
	img{
		width:100%;
		height:auto;
		@include media('>=desktop') {
			width:368px;
		}
	}
}
[class*='btn'],
input[type="submit"],
button{
	transition:all 0.3s ease;
}
.search_container{
	background:$white;
	width:100%;
	height:100%;
	box-sizing:border-box;
}
.search_box{
	margin:0 auto;
	padding:0 0 0 43px;
	width:100%;
	max-width:90%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	box-sizing:border-box;
	border-bottom:1px solid #f2f2f6;
	@include media('>=desktop') {
		max-width:975px;
	}
	&:before{
		content:'';
		position:absolute;
		top:12px;
		left:0;
		background:url('./images/search.svg') no-repeat;
		background-size:cover;
		width:20px;
		height:20px;
	}
}
.search_box{
	input[type="text"]{
		background:none;
		width:100%;
		height:40px;
		border:none;
		border-bottom:none;
		padding:0;
		margin:0 0 18px;
		color:$form-color;
		font-size:30px;
		line-height:1.4;
		font-weight:300;
		font-family:$custom-font-WorkSans;
		box-sizing:border-box;
		@include media('>=desktop') {
			font-size:36px;
			line-height:40px;
			height:40px;
		}
	}
}
.fancybox-content{padding:0;}
.fancybox-slide--html .fancybox-close-small{padding:6px;}
.fancybox-slide--html .fancybox-close-small {
	right:7px;
	top:6px;
}
.fancybox-is-open .fancybox-bg{background:rgba(256,256,256,0.8);}
.fancybox-close-small{
	&:hover{
		background:transparent;
	}
}