#footer{
	margin:0;
	padding:56px 0;
	border-top:1px solid $footer_border;
	h2{
		margin:0 0 37px;
		font-size:24px;
		line-height:1.8;
		color:$title-color;
		text-align:center;
		font-weight:normal;
		text-transform:uppercase;
	}
	h3{
		margin:0 0 17px;
		font-size:16px;
		line-height:1.3;
		color:$title-color;
		font-weight:normal;
		a{
			color:$title-color;
		}
	}
}
.article_holder{
	padding:0 10px 66px;
	justify-content:center;
	border-bottom:1px solid $footer_border;
	@include media('>=desktop') {
		display:flex;
		padding:0 10px 66px;
	}
}
.foote_box{
	margin:0 0 20px;
	box-shadow:0 0 8px 5px rgba(0,0,0,0.1);
	@include media('>=desktop') {
		margin:0 16px;
		max-width:369px;
		display:flex;
		.img_container{
			width:185px;
		}
	}
	img{
		width:100%;
		height:auto;
		@include media('>=desktop') {
			width:185px;
		}
	}
}
.footer_content{
	padding:15px;
	@include media('>=desktop') {
		padding:26px 10px 10px 23px;
	}
}
.lable{
	margin:0 0 12px;
	font-size:12px;
	line-height:1.4;
	font-family:$custom-font-WorkSans;
	color:$footer_lable;
	text-transform:uppercase;
}
.link_post{
	font-size:12px;
	line-height:1.2;
	position:relative;
	color:$title-color;
	&:after{
		content:'';
		position:absolute;
		top:2px;
		right:-19px;
		background:url('images/arrow.svg') no-repeat;
		width:11px;
		height:9px;
	}
	&:hover{
		text-decoration:underline;
	}
}
.footer_holder{
	margin:0 auto;
	padding:43px 0 0;
	max-width:1176px;
}
.footer_section{
	margin:0 0 35px;
	@include media('>=desktop') {
		display:flex;
		justify-content:space-between;
	}
}
.footer_navigation{
	margin:0 0 20px;
	padding:0;
	list-style:none;
	font-size:18px;
	line-height:1.4;
	@include media('>=desktop') {
		margin:0;
		padding:13px 0 0 10px;
		display:flex;
		font-size:14px;
	}
	li{
		text-transform:uppercase;
		text-align:center;
		&:first-child{margin:0;}
		a{
			color:$main-color;
			&:hover{
				text-decoration:underline;
			}
		}
		@include media('>=desktop') {
			margin:0 0 0 59px;
		}
	}
}
.social_icons{
	margin:0;
	padding:0;
	display:flex;
	justify-content:center;
	list-style:none;
	li{
		margin:0 0 0 16px;
		width:41px;
		height:41px;
		&:first-child{margin:0;}
	}
}
.copyright{
	padding:0 10px;
	text-align:center;
	@include media('>=desktop') {
		text-align:right;
	}
}