#header{
	padding:10px 17px 8px 11px;
	display:flex;
	justify-content:space-between;
	position:relative;
	z-index:10;
	@include media('>=desktop') {
		padding:33px 57px 0 55px;
	}
}
.logo{
	width:83px;
	height:20px;
	display:block;
}
.header-box{display:flex;}
.navigation{display:none;}
.nav-active .navigation{display:block;}
.navigation{
	margin:0;
	padding:20px 15px 15px;
	list-style:none;
	letter-spacing:0.2px;
	position:absolute;
	background:#fff;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	z-index:10;
	font-size:18px;
	line-height:1.4;
	box-sizing:border-box;
	@include media('>=desktop') {
		padding:4px 0 0;
		font-size:14px;
		line-height:1.8;
		color:$main-color;
		box-sizing:border-box;
		display:flex;
		position:relative;
		height:auto;
		width:auto;
	}
	li{
		margin:0;
		padding:0 0 10px 15px;
		position:relative;
		@include media('>=desktop') {
			margin:0 0 0 59px;
			padding:0 0 30px;
		}
		&:hover{
			ul{
				display:block;
			}
		}
		&:first-child{
			&:before{
				bottom:20px;
				display:none;
			}
		}
	}
	a{
		text-decoration:none;
		color:$main-color;
		position:relative;
		&:before{
			display:none;
			content:'';
			position:absolute;
			bottom:-5px;
			left:0;
			width:100%;
			height:1px;
			background:#ffd942;
		}
		&:hover{
			&:before{
				display:block;
				animation:underline 0.3s ease-in-out 1;
			}
			ul{
				display:block;
			}
		}
	}
	ul{
		display:block;
		margin:0;
		padding:5px 0 0 20px;
		list-style:none;
		font-size:16px;
		line-height:1.8;
		background:#fff;
		text-align:left;
		box-sizing:border-box;
		@include media('>=desktop') {
			display:none;
			margin:0 0 10px;
			padding:20px;
			min-width:131px;
			position:absolute;
			top:55px;
			left:-50%;
			border-top:1px solid #ffd942;
			font-size:14px;
		}
		&>li{
			margin:0;
			padding:0;
			&:before{
				bottom:0;
			}
			@include media('>=desktop') {
				margin:0;
				padding:0;
			}
		}
	}
}
@keyframes underline{
	0%{width:0;}
	100%{width:100%;}
}
.arrow{
	position:relative;
	&:after{
		position:absolute;
		top:6px;
		right:-18px;
		content:'';
		width:0;
		height:0;
		border:4px solid transparent;
		border-top:4px solid #ffd942;
	}
}
.nav-opener{
	margin:7px 0 0;
	width:32px;
	height:32px;
	@include media('>=desktop') {
		display:none;
	}
	img{
		width:100%;
		height:auto;
		cursor:pointer;
	}
}
.search{
	margin:0 0 0 20px;
	padding:6px 0 0 20px;
	display:inline-block;
	position:relative;
	&:before{
		content:'';
		position:absolute;
		top:0;
		left:0;
		height:30px;
		width:1px;
		background:#e8e8e8;
	}
	@include media('>=desktop') {
		margin:0 0 0 57px;
		padding:6px 0 0 43px;
	}
	img{
		width:20px;
		height:20px;
	}
}
.slider{position:relative;}
.headline{
	position:absolute;
	z-index:1;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	h1{
		font-size:50px;
		line-height:1.2;
		color:$white;
		font-weight:600;
		text-align:center;
		font-family:$custom-font-WorkSans;
		text-transform:uppercase;
		@include media('>=desktop') {
			font-size:72px;
			line-height:75px;
		}
	}
}
.time{
	margin:0 0 7px;
	font-size:14px;
	line-height:1.2;
	color:$white;
	text-align:center;
	display:block;
	text-transform:uppercase;
	@include media('>=desktop') {
		font-size:16px;
	}
}