			<footer id="footer">
				<h2>Latest Posts</h2>
				<div class="article_holder">
					<article class="foote_box">
						<div class="img_container">
							<a href="http://link">
								<img src="images/img-04.jpg" alt="">
							</a>
						</div>
						<div class="footer_content">
							<div class="lable">travel</div>
							<h3>
								<a href="#">
									Planning the South African Wine Vacation of Your Dreams Got Easier
								</a>
							</h3>
							<a href="" class="link_post">READ MORE</a>
						</div>
					</article>
					<article class="foote_box">
						<div class="img_container">
							<a href="http://link">
								<img src="images/img-05.jpg" alt="">
							</a>
						</div>
						<div class="footer_content">
							<div class="lable">travel</div>
							<h3>
								<a href="#">
									Planning the South African Wine Vacation of Your Dreams Got Easier
								</a>
							</h3>
							<a href="" class="link_post">READ MORE</a>
						</div>
					</article>
					<article class="foote_box">
						<div class="img_container">
							<a href="http://link">
								<img src="images/img-06.jpg" alt="">
							</a>
						</div>
						<div class="footer_content">
							<div class="lable">travel</div>
							<h3>
								<a href="#">
									Planning the South African Wine Vacation of Your Dreams Got Easier
								</a>
							</h3>
							<a href="" class="link_post">READ MORE</a>
						</div>
					</article>
				</div>
				<div class="footer_holder">
					<div class="footer_section">
						<ul class="footer_navigation">
							<li><a href="#">About</a></li>
							<li><a href="#">Guides</a></li>
							<li><a href="#">community</a></li>
							<li><a href="#">resources</a></li>
							<li><a href="#">contact us</a></li>
						</ul>
						<ul class="social_icons">
							<li><a href="#"><img src="images/facebook.svg" alt="facebook"></a></li>
							<li><a href="#"><img src="images/houzz.svg" alt="houzz"></a></li>
							<li><a href="#"><img src="images/twitter.svg" alt="twitter"></a></li>
							<li><a href="#"><img src="images/instagram.svg" alt="instagram"></a></li>
						</ul>
					</div>
					<div class="copyright">
						Copyright &copy; 2021&nbsp;TestPage. All&nbsp;rights&nbsp;reserved.
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>