<header id="header">
	<a class="logo" href="#">
		<img src="images/logo.svg" alt="TEST PAGE">
	</a>
	<div class="header-box">
		<nav id="nav">
			<ul class="navigation">
				<li>
					<span class="arrow"href="http://link">ABOUT</span>
					<ul>
						<li><a href="#">SERVICES</a></li>
						<li><a href="#">COMPANIES</a></li>
						<li><a href="#">OUR TEAM</a></li>
					</ul>
				</li>
				<li><a href="#">GUIDES</a></li>
				<li><a href="#">COMMUNITY</a></li>
				<li><a href="#">RESOURCES</a></li>
				<li><a class="lightbox" href="#popup">CONTACT US</a></li>
			</ul>
		</nav>
		<a class="nav-opener" href="">
			<img src="images/ico-menu.svg" alt="">
		</a>
		<a class="search lightbox" href="#search">
			<img src="images/search.svg" alt="">
		</a>
	</div>
</header>
<section class="slider">
	<div class="headline">
		<time class="time" datetime="2017-08-20">20 August 2017</time>
		<h1>Kuril Islands</h1>
	</div>
	<div class="slick-slider">
		<div style="min-height:369px;background:url(images/img-01.jpg) no-repeat center center; background-size:cover;"></div>
		<div style="min-height:369px;background:url(images/img-02.jpg) no-repeat center center; background-size:cover;"></div>
	</div>
</section>